body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 10vh; 
    margin: 0px;
}

a {
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    margin-right: 10px;
    color: black;
    font-weight: bold;
    margin-bottom: 0px;
}

a:hover {
    color:rgb(10, 164, 10)
}

#Image {
    width: 100%;
    margin: 0px;
}

#QuoteBTN {
    position: relative;
    bottom: 45vh;
    background-color: darkgreen;
    height: 5vh;
    width: 15vw;
    border: none;
    color: white;
    cursor: pointer;
}
