body {
    overflow-x: hidden;
    margin: 0;
}

nav {
    background-color: green;
}

a {
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    margin-right: 10px;
}

#Image {
    width: 100%;
}
