body {
    overflow-x: hidden;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    background-color: transparent;
    height: 10vh; 
    margin: 0px;
    bottom: 125vh;
    width: 65%;
    left: 50%;
}

a {
    position: relative;
    top: 30%;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

a:hover {
    color:rgb(10, 164, 10)
}

#Image {
    width: 100%;
    margin: 0px;
    height: 100vh;
}

#AboutBTN {
       position: relative;
    left: 35%;
    bottom: 90vh;
    background-color: transparent;
    border: 4px solid rgb(12, 143, 0);
    height: 7vh;
    width: 15vw;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 580;
    /* border: 4px solid rgb(0, 182, 0); */ 
}

#AboutBTN:hover {
    background-color: rgb(12, 143, 0);;
}

#QuoteBTN {
    position: relative;
    left: 37%;
    bottom: 90vh;
    background-color: transparent;
    border: 4px solid rgb(255, 255, 255);
    height: 7vh;
    width: 15vw;
    color: white;
    cursor: pointer;
    font-size: 20px;
        font-weight: 580;
    /* border: 4px solid rgb(0, 182, 0); */
}

#QuoteBTN:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}



/* 
https://preview.themeforest.net/item/greenscape-lawn-garden-landscaping-wordpress-theme/full_screen_preview/19930059
http://preview.themeforest.net/item/gnome-lawn-garden-care-services-elementor-template-kit/full_screen_preview/31162918
https://preview.themeforest.net/item/bagan-lawn-garden-landscaping-html-template/full_screen_preview/22196086
https://preview.themeforest.net/item/green-thumb-gardening-landscaping-theme/full_screen_preview/20860747
https://preview.themeforest.net/item/gardena-wordpress-theme-for-landscaping-gardening/full_screen_preview/24971203
https://preview.themeforest.net/item/landscaping-wordpress-theme-landscaping-wp/full_screen_preview/16210005
https://forestgardensadelaide.com.au/lp/

https://demo.templatemonster.com/demo/62024.html
https://preview.themeforest.net/item/gardon-landscaping-gardening-elementor-template-kit/full_screen_preview/49593227
https://preview.themeforest.net/item/greenscape-lawn-garden-landscaping-wordpress-theme/full_screen_preview/19930059
 */
